# Python
__pycache__/
*.py[cod]
*$py.class
*.manifest
.venv
.venv_rembg/
venv/
env/

# Logs
*.log
crash.log

# App Outputs
*_slices/
*_icons/
output/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
